body {
  background-color: white;
  margin-top: 150px;
}

.game-container {
  border: #888 solid 3px;
  border-radius: 25px;
  margin-top: 250px;
  background-color: peachpuff;
}

.finger-paint-regular {
  font-family: "Finger Paint", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: orange;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: Efefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.center-text {
  text-align: center;
}

.max-width-768 {
  max-width: 768px;
}

img {
  max-width: 65%;
}
